.centered {
  text-align: center;
}

.auction-detail {

  .artifact {
    user-select: none;

    > div {
      > *:first-child {
        cursor: pointer;
      }
      > p {
        text-align: center;
        color: var(--muted);
        font-size: var(--font-sm);
        margin-top: var(--size-4);
        pointer-events: none;
        user-select: none;
      }
    }
  }

  .details {

    .fieldset-wrapper {
      .form-item {
        input {
          padding-right: 0;
        }

        .suffix {
          border-left: 0;
          padding-left: var(--size-1);
        }
      }
    }

  }
}
